/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

 .products_wrapper {
     display: block;
 }

#product_items_wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

 .product-item {
    flex: 0 0 31.5%;
    background-color: #fff;
    padding: 25px;
    margin: 10px;
    text-align: center;
    cursor: pointer;
	min-height: 174px;
	display: flex;
    flex-direction: column;
    justify-content: center;
 }

 .btn-next {
    font-family: "Be Vietnam Pro", Sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: #50563c;
    border-radius: 0px 0px 0px 0px;
    padding: 10px 40px 10px 40px;
    text-align: center;
 }

 .product-selected {
   border: 3px solid #51563F;
}

#product_item_detail_wrapper {
   display: flex;
   text-align: center;
}

.product-item-detail, .product-item-price {
   	display:flex;
	justify-content:center;
    padding: 25px 60px;
    margin:0;
    text-align: center;
    margin-right: 0px;
	min-height:228px;
	flex: 0 0 50%;
	flex-direction: column;
}
.product-item-detail {
	background-color: #ffffff;
}
.product-item-price {
    background-color: #DBDACF;
}
.product-item-detail h4, .product-item-price p, .product-item h3 {
	font-family: "Be Vietnam Pro", Sans-serif;
    font-size: 13px;
    font-weight: 600;
	color: #50563C;
	text-transform: uppercase;
}
.product-item-price p, .product-item-price h4 {
	margin-bottom: 0;
}
.product-item-detail div, .product-item-price div, .product-content {
	font-family: "Be Vietnam Pro", Sans-serif;
    font-size: 13px;
    font-weight: 400;
	color: #50563C;
}
.product-item-price h4 {
	font-family: "Ogg", Sans-serif;
	font-size: 30px;
}
.product-button-wrapper {
	text-align: center;
	margin-top: 50px;
	display:block;
}
.next-button, .accept-button, .next-button:hover, .accept-button:hover {
	font-family: "Be Vietnam", Sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: #51563F;
    border-radius: 0px 0px 0px 0px;
    padding: 12px 32px 12px 32px;
	color:#ffffff;
}
.accept-button {
	display:none;
}



@media only screen and (max-width:480px) {
	#product_items_wrapper, #product_item_detail_wrapper {
		flex-direction: column;
	}
	.products_wrapper {
		margin: 0 15px;
	}
}
