.listing-preview-header {
    text-align: center;
}

.listing-preview-actions {
    text-align: center;
    align-content: center;
    display: flex;
	margin-left: 0;
	justify-content: center;
	flex-wrap: wrap;
}
.listing-preview-actions li {
    padding: 10px;
    cursor: pointer;
    display: flex;
	justify-content: center;
}

.listing-preview-actions li a {
    background-color: transparent !important;
    color: #50563C !important;
    border: #50563C 2px solid !important;
    width: 200px;
}

.listing-preview-actions li a.active {
    background-color: #50563C !important;
    color: white !important;
}

.circolo-listing-grid-container {
    padding: 0;
    margin: 0;
    list-style: none;
    -ms-box-orient: vertical;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.circolo-listing-grid {
	display: flex;
	flex-wrap: wrap;
}

.circolo-listing-grid-post {
	max-width: 33.33%;
	display: flex;
}

.marketplace-container{
    text-align:center;
}

.page-numbers{
	color: #50563c;
	text-align: center;
	font-family: "Be Vietnam Pro", Sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
}

.page-numbers .current{
	color: #000;
}

.marketplace-header {
	display: flex;
    flex: 1 1 50%;
    justify-content: center;
    align-content: center;
}
.marketplace-header-countries {
	padding:10px;
}
.marketplace-header .search-filter, .marketplace-header select {
	padding: 0.5em;
}

/* Favorite Button */
.add-fav {
    display: inline-block;
    padding: 5px;
    cursor: pointer;
    /* border: 1px solid #ccc; */
    /* background: -webkit-linear-gradient(top, #fff, #ddd) #ddd; */
    position: relative;
    transition: all 0.5s ease;
    /* border-radius: 3px; */
    /* box-shadow: inset 0 -1px 1px #eee; */
  }
  /* .add-fav:hover {
    background: -webkit-linear-gradient(top, #fff, #ccc) #ddd;
  } */
  .add-fav .icon-star {
    font-size: 24px;
    color: #666;
    position: relative;
    transition: all 0.5s ease-in-out;
  }
  .add-fav input[type=checkbox] {
    position: absolute;
    opacity: 0;
  }
  
  .add-fav input[type=checkbox]:checked + .icon-star {
    color: orange;
  }

  /* End of Favorite Button */

@media only screen and (min-width:768px) and (max-width:1024px) {
	.circolo-listing-grid-post {
		max-width:50%;
	}
}

@media only screen and (max-width:768px) {
	.circolo-listing-grid-post {
		max-width:100%;
		flex-direction: column;
	}
}


@media only screen and (max-width:600px) {
	.listing-preview-actions {
		flex-direction: column;
	}
}