.listing-preview-header {
    text-align: center;
}

.listing-preview-actions {
    text-align: center;
    align-content: center;
    display: flex;
	margin-left: 0;
	justify-content: center;
	flex-wrap: wrap;
}
.listing-preview-actions li {
    padding: 10px;
    cursor: pointer;
    display: flex;
	justify-content: center;
}

.listing-preview-actions li a {
    background-color: transparent !important;
    color: #50563C !important;
    border: #50563C 2px solid !important;
    width: 200px;
}

.listing-preview-actions li a.active {
    background-color: #50563C !important;
    color: white !important;
}

.circolo-listing-grid-container {
    padding: 0;
    margin: 0;
    list-style: none;
    -ms-box-orient: vertical;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.circolo-listing-grid {
	display: flex;
	flex-wrap: wrap;
}

.circolo-listing-grid-post {
	max-width: 33.33%;
	display: flex;
}

@media only screen and (min-width:768px) and (max-width:1024px) {
	.circolo-listing-grid-post {
		max-width:50%;
	}
}

@media only screen and (max-width:768px) {
	.circolo-listing-grid-post {
		max-width:100%;
		flex-direction: column;
	}
}


@media only screen and (max-width:600px) {
	.listing-preview-actions {
		flex-direction: column;
	}
}